/*
This is the Horizontal Navigation Bar Example with Active/Current Navigation Link
From here https://www.w3schools.com/css/css_navbar.asp
*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul li {
  float: left;
}

ul li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}
ul li a:hover:not(.active) {
  background-color: #111;
}

.selected {
  background-color: #4caf50;
}

.content {
  margin-left: 6%;
  margin-right: 6%;
  padding: 18px 16px;
  height: 1000px;
  font-size: small;
}

section {
  margin-left: 20px;
}

section h2 {
  margin-bottom: 20px;
}

.myBtn {
  background-color: aqua;
  border: solid 2px black;
}

#errorText,
#errorTextHobby,
#errorTextzipcode,
#errorTextDelete {
  margin-top: 20px;
}
